{% extends 'base.html' %}


{% block title %}
    create    
{% endblock title %}
    


{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">title</label>
        <input type="text" name="title" class="form-control" id="exampleInputTitle" aria-describedby="titleHelp" placeholder="Enter title">
    </div><br>
    <label for="pub_date">pub_date</label>
    <div class="input-group date" data-provide="datepicker">
        <input type="text" class="form-control datepicker">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div><br>
    <div class="form-group">
        <label for="body">body</label>
        <textarea name="body" class="form-control" rows="3"></textarea>
    </div><br>

    <input type="submit" value="create">

    <a href="#" id="hello">hello</a>

</form>

<!-- <script>
    $(function(){
        $('.datepicker').datepicker();    

        $('#hello').on('click', function(){
            console.log('hi')
            alert('hello');
        });
    });
</script> -->
{% endblock content %}